<section class="comments">
    <h2 class="comments-title">{{t "Member discussion"}}</h2>
    {{comment_count empty=(t "0 comments") singular=(t "comment") plural=(t "comments") class="comments-count"}}
    {{comments title="" count=false mode="light"}}
</section>
