<footer class="site-footer">
	<div class="offsite-links">
	    <a class="twitter-link" href="http://www.twitter.com/{{! Add Twitter handle }}"><i class="icon-twitter"></i></a>
	    <a class="facebook-link" href="https://www.facebook.com/{{! Add Facebook handle }}"><i class="icon-facebook"></i></a>
	    <a class="github-link" href="https://github.com/{{! Add GitHub handle }}"><i class="icon-github-alt"></i></a>
	    <a class="google-link" href="https://plus.google.com/{{! Add Google+ handle }}"><i class="icon-google-plus"></i></a>
	     <a class="instagram-link" href="https://instagram.com/{{! Add Instagram handle }}"><i class="icon-instagram"></i></a>
	    <a class="rss-link" href="{{ @blog.url }}/rss"><i class="icon-rss"></i></a>
	</div><!-- .offsite-links -->
	<div class="site-info">
		&copy; <a href="/">{{@blog.title}}</a> all rights reserved.<br />
		Powered by <a target="_blank" href="http://www.ghost.org">Ghost</a>. Scriptor theme by <a target="_blank" href="http://justgoodthemes.com/">JustGoodThemes</a>
	</div><!-- .site-info -->
	<a href="#page" class="back-to-top" title="Back to Top">&#8593;</a>
</footer><!-- .site-footer -->
