<footer class="site-footer">
	<div class="offsite-links">
		{{#if @site.twitter}}
		<a class="twitter-link" href="{{twitter_url}}" target="_blank" rel="noopener"><span class="icon-twitter" aria-hidden="true"></span><span class="screen-reader-text">Twitter</span></a>
		{{/if}}
		<a class="rss-link" href="{{ @site.url }}/rss"><span class="icon-rss" aria-hidden="true"></span><span class="screen-reader-text">RSS Feed</span></a>
	</div><!-- .offsite-links -->
	<div class="footer-bottom">
		<div class="site-info">
			&copy; {{date format="YYYY"}} <a href="/">{{@site.title}}</a>.<br />
			Powered by <a target="_blank" href="https://ghost.org/" rel="noopener">Ghost</a>.
		</div><!-- .site-info -->
		<a href="#page" id="back-to-top" class="back-to-top"><span class="screen-reader-text">Back to the top </span>&#8593;</a>
	</div><!-- .footer-bottom -->
</footer><!-- .site-footer -->
