<ul class="navbar-menu">
    {{#foreach navigation}}
        <li class="navbar-menu-item {{#if current}} is-current{{/if}}"><a href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
</ul>
