{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The content area on the author page --}}
<main class="main">

    {{!-- Everything inside the #author tags pulls data from the author --}}
    {{#author}}
    <header class="page-header">
        <h1 class="page-title">{{plural ../pagination.total empty=(t "No posts by") singular=(t "% post by") plural=(t "% posts by")}} <span class="page-title-highlight">{{name}}</span></h1>
    </header>
    {{/author}}

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
