{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The content area on the blog page --}}
<main class="main">

    {{!-- Description displayed on the homepage --}}
    {{#if @site.description}}
        <div class="page-header">
            <div class="page-title">{{@site.description}}</div>
        </div>
    {{/if}}

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
