{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The tag below includes the blog header - partials/header.hbs }}
{{> header}}

<main class="main-content" role="main">
	<section>
		
		<header class="page-header">
			<h1 class="page-title">All posts in <span class="highlight">{{tag.name}}</span></h1>
			{{#if tag.description}}
			<p class="page-description">{{tag.description}}</p>
			{{/if}}
		</header><!-- .page-header -->

		{{! The tag below includes the post loop - partials/loop.hbs }}
		{{> "loop"}}

		{{! Previous/next page links - displayed on every page }}
		{{pagination}}

	</section>
</main><!-- .main-content -->

{{! The tag below includes the theme footer - partials/footer.hbs }}
{{> footer}}
