{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- The main content area on the tag page --}}
<main class="main">

    {{!-- Everything inside the #tag tags pulls data from the tag --}}
    {{#tag}}
    <header class="page-header">
        <h1 class="page-title">{{plural ../pagination.total empty=(t "No posts in") singular=(t "% post in") plural=(t "% posts in")}} <span class="page-title-highlight">{{name}}</span></h1>
    </header>
    {{/tag}}

    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
    {{> "loop"}}

</main>
